@import './root.css';
@import './reset.css';

html {
    height: 100vh;
}

body {
    height: 100%;
    min-height: 100%;
    /* border: 2px solid red; */
    background-color: antiquewhite;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}

/* body::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
} */

body > div {
    /* background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    height: 100%; */
    position: relative;
}

body > div > * {
    position: absolute;
}

#hero {
    background-image: url(/images/marielle_and_sam_02.jpg);
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    height: 100%;
    color: antiquewhite;
    /* border: 2px solid green; */
}

#hero a {
    color: antiquewhite;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/* .hero > * { */
    /* position: absolute; */
    /* top: 6rem; */
    /* left: 50%;
    transform: translateX(-50%); */
/* } */

/* NOT USED */
/* .banner > .container {
    width: 60%;
    border: 0px solid red;
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
} */

/* NOT USED */
/* .banner > .container > div {
    border: 0px solid green;
    position: relative;
} */

/* .hero > .container {
    border: 2px solid green;
    position: relative;
    padding: 4rem 0;
    height: 100%;
    * display: grid;
    justify-content: space-between; *
} */

.title {
    /* position: absolute; */
    top: 7%;
    left: 0;
    right: 0;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    font-family: "Tangerine", cursive;
    font-size: 4.25rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
    /* border: 1px solid red; */
    /* margin-top: 4rem; */
}

@media (min-width: 640px) {
    .title {
        font-size: 6rem;
        line-height: 5.5rem;
    }
}

/* .subtitle {
    color: #FDFDFD;
    font-size: 1.25rem;
    font-weight: 200;
    letter-spacing: 0.25px;
    line-height: 1.5rem;
    text-align: center;
} */

.details {
    /* position: absolute; */
    /* top: 6rem; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    left: 0;
    right: 0;
    bottom: 20%;
    text-align: center;
    display: grid;
    gap: 4rem;
    /* border: 1px solid red; */
}

/* .first > * {
    font-weight: 400;
} */

.first {
    display: grid;
    gap: 0.25rem;
}

.first > h2 {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 5px;
    /* font-size: 0.75rem;
    letter-spacing: 12px; */
}

.first > h3 {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
}

.first > p {
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 1rem;
}

.second {
    display: grid;
    gap: 0.25rem;
    border: 0px solid red;
    justify-content: center;
}

.second > a,
.second > button {
    background-color: transparent;
    border: 0px solid green;
    cursor: pointer;
    display: block;
    opacity: 80%;
}
.second > a:hover {
    opacity: 80%;
}

.second .arrow-down {
    height: 5rem;
}

.col_ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.col_.reverse > .first {
    order: 2;
}
.col_.reverse > .second {
    order: 1;
}

#story,
#event {
    border: 0px solid green;
    color: #333;
}

#story {
    background-image: url(/images/marielle_and_sam_04.jpg);
    /* background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    background-color: antiquewhite;
    height: 100%; */
    /* color: #fff; */
    /* position: relative; */
    /* border: 2px solid green; */
}

#event {
    background-image: url(/images/marielle_and_sam_03.jpg);
    /* background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    background-color: beige;
    height: 100%; */
    /* color: #fff; */
    /* position: relative; */
    /* border: 2px solid green; */
}

#seeyou {
    background-image: url(/images//marielle_and_sam_01.jpg);
    /* background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    background-color: beige;
    height: 100%; */
}