@import './root.css';
@import './reset.css';

html {
    height: 100vh;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    font-family: "Glacial", sans-serif;
    font-size: 16px;
}

section {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    color: antiquewhite;
}

.hidden {
    display: none !important;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    border: 1px solid red;
}

/* PARALLAX */
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

#hero .parallax {
    /* background-image: url(/images/marielle_and_sam_05.webp); */
    background-image: url(/images/marielle_and_sam_06.png);
}


/* CONTENT */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    position: relative;
    height: 100vh;
    z-index: 1;
    border: 0px solid red;
}

/* HERO */
.content > .header {
    display: grid;
    gap: 1rem;
    margin-top: clamp(4rem, calc(4rem + 1vw), 6rem);
    display: grid;
    gap: 0;
}

.content > .header > h1 {
    font-family: "Eyesome", cursive;
    font-size: clamp(3rem, calc(3rem + 4vw), 10rem);
    font-weight: 400;
    margin-bottom: clamp(0.5rem, calc(0.5rem + 1vw), 1rem);
    text-align: center;
}
.content > .header > span,
.content > .header > h2 {
    letter-spacing: 3.5px;
    text-align: center;
    text-transform: uppercase;
}

.content > .header > span {
    font-size: clamp(0.6125rem, calc(0.6125rem + 1vw), 1rem);
}
.content > .header > h2 {
    font-size: clamp(1.25rem, calc(1.25rem + 2vw), 2rem);
    margin-top: 0.5rem;
}

.dates {
    margin-bottom: clamp(3rem, calc(3rem + 1vw), 4rem);
    text-align: center;
    display: grid;
    gap: clamp(2rem, calc(2rem + 1vw), 3rem);
}

.date {
    display: grid;
    gap: 0.25rem;
}

.date > h2 {
    font-size: clamp(1.125rem, calc(1.125rem + 1vw), 1.75rem);
    font-weight: 500;
    letter-spacing: 4px;
}

.date > h3 {
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1.125rem);
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0.8;
}

.booknow {
    display: grid;
    gap: 0.5rem;
}
.booknow button {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: clamp(0.375rem, calc(0.375rem + 1vw), 0.75rem) 1.5rem;
    color: #333;
    background-color: white;
    border: 0;
    border-radius: 10rem;
    cursor: pointer;
    font-size: clamp(1.125rem, calc(1.125rem + 1vw), 1.25rem);
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 auto;
}
.booknow button img {
    height: 1.5rem;
}
.booknow > span {
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1.125rem);
    letter-spacing: 0.25px;
}

dialog {
    background-color: transparent;
    border: 0;
    display: relative;
    margin: auto;
    max-width: 50rem;
    padding: 1rem;
    width: 90%;
    transition: all 150ms ease-in-out;
}

dialog::backdrop {
    background-color: #999;
    opacity: 0.5;
}

dialog > form {
    background-color: antiquewhite;
    border-radius: 1rem;
    color: #333;
    padding: 2rem 1.5rem;
    position: relative;
    text-align: center;
}
dialog .header {
    border-bottom: 1px solid #cecece;
    padding-bottom: clamp(1.25rem, calc(1.25rem + 1vw), 2.5rem);
    text-align: center;
}

dialog .header h2 {
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1.125rem);
    font-weight: 200;
}

dialog .header .title {
    font-family: "Eyesome", cursive;
    font-size: clamp(1.25rem, calc(1.25rem + 3vw), 4rem);
    font-weight: 400;
    padding-top: 0.5rem;
}

dialog .blurb {
    color: #333;
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1rem);
    font-weight: 200;
    opacity: 0.8;
    padding: 0.75rem 1rem 2rem;
    text-align: center;
}

.fields {
    display: grid;
    gap: 2rem;
}
.field {
    display: grid;
    gap: 0.375rem;
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1rem);
}
.field > label {
    font-weight: 200;
    padding-left: 4px;
    text-align: left;
}
.field > input,
.field > textarea {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    color: #666;
    outline: 0;
    padding: 0.75rem 1rem;
}
.field > textarea {
    height: 15rem;
    overflow-y: auto;
    resize: none;
}

dialog form button {
    background-color: var(--chocolate);
    border: 0px solid #ccc;
    border-radius: 0.5rem;
    color: white;
    font-size: clamp(1.125rem, calc(1.125rem + 1vw), 1.25rem);
    font-weight: 500;
    letter-spacing: 2px;
    margin: 1.25rem auto 0;
    padding: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

dialog #cancel_avail {
    background-color: transparent;
    border: 0px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
dialog #cancel_avail img {
    background-color: antiquewhite;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}


/* .spinner {
    position: absolute;
    height: 6rem;
    width: 10rem;
    background-color: white;
    border: 6px solid var(--chocolate);
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    animation: 1.5s spin infinite linear;
} */
/* .spinner > .s {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6rem;
    width: 10rem;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    font-family: "Eyesome", cursive;
    font-size: 1.125rem;
    font-weight: 700;
} */

/* @keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
} */

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: var(--chocolate);
  /* background: currentColor; */
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

