@import './root.css';
@import './reset.css';

html {
    height: 100vh;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
}

section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: antiquewhite;
}
/* @media (min-width: 640px) {
    section .col_2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
} */

/* PARALLAX */
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}
/* @media (min-width: 640px) {
    section.col_2 > .parallax {
        width: 50%;
        border: 3px solid red;
    }
    section.col_2.reverse > .parallax {
        left: 50%;
        right: 0;
        width: 50%;
    }
} */

#hero .parallax {
    background-image: url(/images/marielle_and_sam_02.jpg);
}

#story .parallax {
    background-image: url(/images/marielle_and_sam_04.jpg);
}

#event .parallax {
    background-image: url(/images/marielle_and_sam_03.jpg);
}

#seeyou .parallax {
    background-image: url(/images//marielle_and_sam_01.jpg);
}


/* CONTENT */
.content {
    position: relative;
    height: 100vh;
    z-index: 1;
    border: 0px solid red;
}



/* HERO */
.title {
    position: absolute;
    top: 7%;
    left: 0;
    right: 0;
    font-family: "Tangerine", cursive;
    font-size: 4.25rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
}

@media (min-width: 640px) {
    .title {
        font-size: 6rem;
        line-height: 5.5rem;
    }
}

#hero a {
    color: antiquewhite;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.details {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
    text-align: center;
    display: grid;
    gap: 3rem;
}

.first {
    display: grid;
    gap: 0.25rem;
}

.first > h2 {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 5px;
}

.first > h3 {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
}

.details p {
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 2rem;
}

.second {
    display: grid;
    gap: 0.25rem;
    border: 0px solid red;
    justify-content: center;
}

.second p {
    font-weight: 600;
}

.second > a,
.second > button {
    background-color: transparent;
    border: 0px solid green;
    cursor: pointer;
    display: block;
    opacity: 80%;
}
.second > a:hover {
    opacity: 80%;
}

.second .arrow-down {
    height: 5rem;
}

.col_ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.col_.reverse > .first {
    order: 2;
}
.col_.reverse > .second {
    order: 1;
}

#story,
#event {
    border: 0px solid green;
    color: #333;
}
