@import './root.css';
@import './reset.css';

html {
    height: 100vh;
}

body {
    height: 100%;
    min-height: 100%;
    /* border: 2px solid red; */
    background-color: antiquewhite;
}

main {
    background-image: url(/images/marielle_and_sam_01.jpeg);
    background-size: cover;
    height: 100%;
}

marquee {
    font-size: 5rem;
    color: gold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}