@import './root.css';
@import './reset.css';

html {
    height: 100vh;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    font-family: "Glacial", sans-serif;
    font-size: 16px;
}

section {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    color: antiquewhite;
}
/* @media (min-width: 640px) {
    section .col_2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
} */

/* PARALLAX */
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}
/* @media (min-width: 640px) {
    section.col_2 > .parallax {
        width: 50%;
        border: 3px solid red;
    }
    section.col_2.reverse > .parallax {
        left: 50%;
        right: 0;
        width: 50%;
    }
} */

#hero .parallax {
    background-image: url(/images/marielle_and_sam_05.webp);
}

/* #story .parallax {
    background-image: url(/images/marielle_and_sam_04.jpg);
} */

/* #event .parallax {
    background-image: url(/images/marielle_and_sam_03.jpg);
} */

/* #seeyou .parallax {
    background-image: url(/images//marielle_and_sam_01.jpg);
} */


/* CONTENT */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    position: relative;
    height: 100vh;
    z-index: 1;
    border: 0px solid red;
}

/* HERO */
.content > .header {
    display: grid;
    gap: 1rem;
    margin-top: clamp(4rem, calc(4rem + 1vw), 6rem);
    display: grid;
    gap: 0;
}

.content > .header > h1 {
    font-family: "Eyesome", cursive;
    font-size: clamp(3rem, calc(3rem + 4vw), 10rem);
    font-weight: 400;
    /* margin: 0 auto; */
    margin-bottom: clamp(0.5rem, calc(0.5rem + 1vw), 1rem);
    text-align: center;
}
.content > .header > span,
.content > .header > h2 {
    letter-spacing: 3.5px;
    /* margin: 0 auto; */
    /* max-width: 95%; */
    text-align: center;
    text-transform: uppercase;
    /* border: 1px solid red; */
}

.content > .header > span {
    font-size: clamp(0.6125rem, calc(0.6125rem + 1vw), 1rem);
}
.content > .header > h2 {
    font-size: clamp(1.25rem, calc(1.25rem + 2vw), 2rem);
    margin-top: 0.5rem;
}

/* #hero a {
    color: antiquewhite;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
} */

.dates {
    margin-bottom: clamp(3rem, calc(3rem + 1vw), 4rem);
    text-align: center;
    display: grid;
    gap: clamp(2rem, calc(2rem + 1vw), 3rem);
}

.date {
    display: grid;
    gap: 0.25rem;
}

.date > h2 {
    font-size: clamp(1.125rem, calc(1.125rem + 1vw), 1.75rem);
    /* font-size: 1.125rem; */
    font-weight: 500;
    letter-spacing: 4px;
}

.date > h3 {
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1.125rem);
    /* font-size: 1rem; */
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0.8;
}

.booknow {
    display: grid;
    gap: 0.5rem;
}
.booknow button {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: clamp(0.375rem, calc(0.375rem + 1vw), 0.75rem) 1.5rem;
    color: #333;
    background-color: white;
    border: 0;
    border-radius: 10rem;
    cursor: pointer;
    font-size: clamp(1.125rem, calc(1.125rem + 1vw), 1.25rem);
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 auto;
    /* max-width: 70%; */
}
.booknow button img {
    height: 1.5rem;
}
.booknow > span {
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1.125rem);
    letter-spacing: 0.25px;
}

dialog {
    background-color: transparent;
    border: 0;
    /* border-radius: 1rem; */
    display: relative;
    margin: auto;
    max-width: 50rem;
    padding: 1rem;
    width: 90%;
    transition: all 150ms ease-in-out;
}

dialog::backdrop {
    background-color: #999;
    opacity: 0.5;
    /* background-image: url('/images/marielle_and_sam_06.png'); */
    /* background-position: center; */
    /* background-size: cover; */
}

dialog > form {
    background-color: antiquewhite;
    border-radius: 1rem;
    color: #333;
    padding: 2rem 1.5rem;
}
dialog .header {
    border-bottom: 1px solid #cecece;
    padding-bottom: clamp(1.25rem, calc(1.25rem + 1vw), 2.5rem);
    text-align: center;
}

dialog .header h2 {
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1.5rem);
    font-weight: 200;
}

dialog .header .title {
    font-family: "Eyesome", cursive;
    font-size: clamp(1.25rem, calc(1.25rem + 3vw), 4rem);
    font-weight: 400;
    padding-top: 0.5rem;
}

dialog .blurb {
    color: #333;
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1.125rem);
    font-weight: 200;
    opacity: 0.8;
    padding: 0.75rem 1rem 2rem;
    text-align: center;
}

.fields {
    display: grid;
    gap: 2rem;
}
.field {
    display: grid;
    gap: 0.375rem;
    /* font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1.125rem); */
    font-size: clamp(1.125rem, calc(1.125rem + 1vw), 1.25rem);
}
.field > label {
    font-weight: 200;
    padding-left: 4px;
}
.field > input,
.field > textarea {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    color: #666;
    outline: 0;
    padding: 0.75rem 1rem;
}
.field > textarea {
    height: 15rem;
    overflow-y: auto;
    resize: none;
}

dialog form button {
    background-color: #666;
    border: 0px solid #ccc;
    border-radius: 0.5rem;
    color: white;
    font-size: clamp(1.125rem, calc(1.125rem + 1vw), 1.25rem);
    font-weight: 500;
    letter-spacing: 2px;
    margin: 1.25rem auto 0;
    padding: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

dialog #cancel_avail {
    background-color: transparent;
    border: 0px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 3rem;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translateX(50%) translateY(-50%); */
    z-index: 10;
}
dialog #cancel_avail img {
    background-color: antiquewhite;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
/* .dates h2 { */
    /* font-size: clamp(1.125rem, calc(1.125rem + 1vw), 1.75rem); */
    /* font-size: 1.125rem; */
    /* font-weight: 500; */
    /* letter-spacing: 2px; */
    /* text-transform: uppercase; */
/* } */

/* .details p { */
    /* font-size: 1.125rem; */
    /* font-weight: 300; */
    /* letter-spacing: 2px; */
    /* margin-top: 2rem; */
/* } */

/* .second {
    display: grid;
    gap: 0.25rem;
    border: 0px solid red;
    justify-content: center;
} */

/* .second p {
    font-weight: 600;
} */

/* .second > a,
.second > button {
    background-color: transparent;
    border: 0px solid green;
    cursor: pointer;
    display: block;
    opacity: 80%;
} */
/* .second > a:hover {
    opacity: 80%;
} */

/* .second .arrow-down {
    height: 5rem;
} */

/* .col_ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.col_.reverse > .first {
    order: 2;
}
.col_.reverse > .second {
    order: 1;
}

#story,
#event {
    border: 0px solid green;
    color: #333;
} */
