@import './root.css';
@import './reset.css';
@import './form.css';

html {
    height: 100vh;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    font-family: "Glacial", sans-serif;
    font-size: 16px;
}

section {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    color: var(--almond);
}

.hidden {
    display: none !important;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    /* border: 1px solid red; */
}

/* .booknow {
    display: grid;
    gap: 0.5rem;
} */
/* .booknow button {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: clamp(0.375rem, calc(0.375rem + 1vw), 0.75rem) 1.5rem;
    color: var(--chocolate);
    background-color: var(--almond);
    border: 0;
    border-radius: 10rem;
    cursor: pointer;
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1rem);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 auto;
} */
/* .booknow button img {
    height: 1.5rem;
} */
/* .booknow > span {
    // font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1.125rem);
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1rem);
    letter-spacing: 0.25px;
} */

/* dialog {
    background-color: transparent;
    border: 0;
    display: relative;
    margin: auto;
    max-width: 50rem;
    padding: 1rem;
    width: 90%;
    transition: all 150ms ease-in-out;
} */

/* dialog::backdrop {
    background-color: #999;
    opacity: 0.5;
} */

/* dialog > form {
    background-color: antiquewhite;
    border-radius: 1rem;
    color: #333;
    padding: 2rem 1.5rem;
    position: relative;
    text-align: center;
} */
/* dialog .header {
    border-bottom: 1px solid #cecece;
    padding-bottom: clamp(1.25rem, calc(1.25rem + 1vw), 2.5rem);
    text-align: center;
} */

/* dialog .header > h2 {
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1rem);
    font-weight: 400;
    margin-bottom: 1rem;
} */

/* dialog .header > .title {
    color: var(--chocolate);
    font-family: "Eyesome", cursive;
    font-size: clamp(1.25rem, calc(1.25rem + 3vw), 4rem);
    font-weight: 700;
    // margin-top: 0.5rem;
    // border: 1px solid red;
} */

/* dialog .blurb {
    color: #333;
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1rem);
    font-weight: 200;
    opacity: 0.8;
    padding: 0.5rem 0.75rem;
    text-align: center;
    // border: 1px solid red;
} */

/* #form-fields {
    display: grid;
    gap: 1.625rem;
} */

/* .fields {
    display: grid;
    gap: 1.625rem;
} */
/* .field {
    display: grid;
    gap: 0.125rem;
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1rem);
} */
/* .field > label {
    font-weight: 200;
    padding-left: 4px;
    text-align: left;
}
.field > input[type=text],
.field > input[type=email],
.field > input[type=date],
.field > textarea {
    border: 1px solid var(--almond);
    border-radius: 0.5rem;
    color: #666;
    outline: 0;
    padding: 0.625rem 1rem;
} */
/* .field > input[type=date] {
    width: 12rem;
}
.field > textarea {
    height: 15rem;
    overflow-y: auto;
    resize: none;
} */

dialog form button {
    background-color: var(--chocolate);
    border: 0px solid #ccc;
    border-radius: 0.5rem;
    color: white;
    /* font-size: clamp(1.125rem, calc(1.125rem + 1vw), 1.25rem); */
    font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1rem);
    font-weight: 500;
    letter-spacing: 2px;
    /* margin: 1.25rem auto 0; */
    padding: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

dialog #cancel_avail {
    background-color: transparent;
    border: 0px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
dialog #cancel_avail img {
    background-color: antiquewhite;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}


/* .spinner {
    position: absolute;
    height: 6rem;
    width: 10rem;
    background-color: white;
    border: 6px solid var(--chocolate);
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    animation: 1.5s spin infinite linear;
} */
/* .spinner > .s {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6rem;
    width: 10rem;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    font-family: "Eyesome", cursive;
    font-size: 1.125rem;
    font-weight: 700;
} */

/* @keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
} */


