@font-face {
    font-family: "Eyesome";
    src: url("/fonts/Eyesome-Script.otf");
}

@font-face {
    font-family: "Glacial";
    src: url("/fonts/GlacialIndifference-Regular.otf");
}

:root {
    --almond: #EADDCA;
    --buff: #DAA06D;
    --chocolate: #7B3F00;
}